services:
  fantraxbot:
    build: .
    container_name: fantraxbot
    restart: unless-stopped
    volumes:
      - ./src:/usr/src/bot/src
      - ./FantraxConfig:/usr/src/bot/FantraxConfig
      - ./package.json:/usr/src/bot/package.json
      # - /usr/src/bot/node_modules # needed for node modules
