services:
  fantraxbot:
    build: .
    working_dir: /usr/src/bot
    container_name: fantraxbot
    restart: unless-stopped
    volumes:
      - .:/usr/src/bot
      - /usr/src/bot/node_modules # needed for node modules
    command: node src/index.js
